<!--{% extends 'base.html' %}-->
{% load static %}
{% block content %}
{% csrf_token %}

<h1>Add Product</h1>
<form method ="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }} 
    <input type=submit value="Save changes">

    <h3>Product Images</h3>
    {{ image_formset.management_form }}
    {% for form in image_formset %}
    <div>
        <table>
        <tr>
        <th>{{ form.image.label_tag }} </th>
        <td>{{ form.image }}</td>
        
        <!-- 添加缩略图上传字段 -->
        <th>{{ form.thumbnail.label_tag }} </th>
        <td>{{ form.thumbnail }}</td>
        </tr>
        </table>
    </div>
    {% endfor %}
    
    <input type="submit" value="Save Productimages">
    <a href="{% url "vendor_product_list" %}"> <---Back to list</a>
</form>
{% endblock %}
