<li><a href="{% url 'index'%}">Home</a></li>
        <li><a href="{%  url 'product' %}">Products</a></li>
        <li><a href="">About</a></li>

<div>
    <h1>Search</h1>
    <form action="." method="GET">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <h2>Categories</h2>
    <ul>
        <li><a href="{% url 'product' %}">All Categories</a></li>
        {% for category in categories %}
        <li>    <!--判斷是否為該分類內的玩具,如果是就顯示-->
            <a href="{% url 'product' %}?category={{ category.slug }}"
            {% if not active_category %}text-purple-500{% else %} {% endif %}
            >{{category.name}}</a></li>
        
        {% endfor%}

        

        {% include 'products/product_list.html' %}

        
</div>

