
{%for product in products%}
{% if product.slug %}  <!--判斷商品是否空slug-->
<div >
    
    <h2>{{product.name}}</h2>
    <!--獲取縮圖-->
    {% with image=product.images.first %}
    {% if image and image.thumbnail %}
      <img src="{{ image.thumbnail.url }}" 
           alt="{{ product.name }}"
           class="product-thumbnail">
    {% else %}
      <img src="/static/images/default-thumbnail.jpg" 
           alt="No Image"
           class="product-thumbnail">
    {% endif %}
  {% endwith %}
    <!------------------------------>

      <!-- 显示商品状态 -->
    {% if product.is_sale %}
        <span class="sale-badge">特价商品</span>
    {% endif %}

    {% if not product.is_show %}
        <span class="hidden-badge">已隐藏</span>
    {% endif %}

    <p>{{product.price}}</p>
    <p>{{product.description}}</p>
    <a href="{% url 'product_detail' product.slug%}">View</a>
</div>
{% else %}
        <p>This product link can't use</p>
    {% endif %}

{%endfor%}