
    <title>Product Detail</title>

    {%block content%}

   
    <div>
       <ul>
        <h1>{{ product.name }}</h1>
        <!--展示多張產品圖片-->
        <!--div class="main-image">
            {% with first_image=product.images.first %}
              {% if first_image %}
                <img src="{{ first_image.image.url }}" 
                     alt="{{ product.name }}Main picture">
              {% endif %}
            {% endwith %}
          </div-->
          
          <div class="image-gallery">
            {% for image in product.images.all %}
              <div class="gallery-item">
                <img src="{{ image.image.url }}" 
                     alt="{{ product.name }} picture{{ forloop.counter }}"
                     >
              </div>
            {% empty %}
              <p>No picture</p>
            {% endfor %}
          </div>
        <!----------------------------------------------->
        <p>Price: {{product.price}}</p>

        <p>{{ product.category.name }}</p>

        {%if product.description%}
            <p>{{product.description}}</p>
         {%endif%}

        <button>Add to Cart</button>
        </ul>
       
    </div> 
    
    
    {%endblock%}

